@tailwind base;
@tailwind components;
@tailwind utilities;



.fc {
    --fc-event-bg-color: var(--p-primary-500);
    --fc-event-border-color: var(--p-primary-500);
    --fc-button-bg-color: var(--p-primary-600);
    --fc-button-border-color: var(--p-primary-600);
    --fc-button-hover-bg-color: var(--p-primary-800);
    --fc-button-hover-border-color: var(--p-primary-800);
    --fc-button-active-bg-color: var(--p-primary-800);
    --fc-button-active-border-color: var(--p-primary-200);
}

